{

  "logLevel": "silent",
  "jwtSecret": "jwtSecret",
  "testJWT": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2ODMxMjc4ODIsImV4cCI6MzI0ODI2NTQyODIsImF1ZCI6Ind3dy5leGFtcGxlLmNvbSIsInN1YiI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJHaXZlbk5hbWUiOiJKb2hubnkiLCJTdXJuYW1lIjoiUm9ja2V0IiwiRW1haWwiOiJqcm9ja2V0QGV4YW1wbGUuY29tIiwiR3JvdXBzIjpbImV4cG9ydGVyIiwicHJvamVjdF9hIl19.78DGenQL0zHsEVO0aqTNFSEwwmX1vC2AULFRWdp0joo",
  "database": {
    "host": "localhost",
    "username": "forumUser",
    "password": "forumPass",
    "dbName": "forumDb"
  }
}